 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: url("images/CampSimBG2copy.png"), linear-gradient(to bottom, #b3b3b3, #1a1a1a);
  background-size: 102%, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1081px;
}

.u-section-1 .u-text-1 {
  margin: 79px 0 0 68px;
}

.u-section-1 .u-list-1 {
  width: 598px;
  margin: 86px auto 9px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 801px;
  grid-gap: 22px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 592px;
  height: 116px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -87px 51px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 592px;
  height: 116px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -87px 51px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 592px;
  height: 116px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -87px 51px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 592px;
  height: 116px;
  margin: 0 10px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -87px 51px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 6px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 902px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.375rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 900px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 0 50px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 176px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 46px 78px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-image-1 {
  width: 279px;
  height: 300px;
  margin: 22px auto 0 381px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 743px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -97px;
    margin-right: 46px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1034px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 44px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    margin-left: 45px;
  }

  .u-section-2 .u-image-1 {
    width: 155px;
    height: 167px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: 67px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1600px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 52px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1446px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1446px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 12px 26px 0 41px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 108px 41px 0;
}

.u-section-3 .u-icon-1 {
  height: 431px;
  width: 431px;
  background-image: none;
  margin: -204px -80px 0 auto;
  padding: 86px;
}

.u-section-3 .u-text-3 {
  margin: -87px 82px 0 0;
}

.u-section-3 .u-image-1 {
  width: 1661px;
  height: 836px;
  animation-timing-function: ease;
  margin: 26px auto 0 -279px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1928px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 1192px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1192px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 66px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -451px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 799px;
    height: 402px;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 75.65% 50%;
    min-height: 939px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1268px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 194px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -311px;
    margin-right: -76px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -47px;
  }

  .u-section-3 .u-image-1 {
    height: 356px;
    margin-top: 26px;
    width: 708px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 2157px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1353px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 272px;
    margin-top: 29px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1041px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -530px;
    margin-left: -45px;
    margin-right: -45px;
    padding: 65px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 132px;
  }

  .u-section-3 .u-image-1 {
    height: 171px;
    margin-top: 49px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1868px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -16px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 1740px;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 1139px;
  min-height: 1561px;
  height: auto;
  margin: -1747px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-icon-1 {
  width: 377px;
  height: 377px;
  margin: 0 47px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: -39px 37px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: -601px 434px 0 37px;
}

.u-section-4 .u-image-1 {
  width: 867px;
  height: 867px;
  margin: 460px auto -95px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 77px auto 60px;
  padding: 10px 119px 10px 118px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 272px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -81px;
    margin-right: auto;
    margin-left: 154px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 186px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -583px;
    margin-right: 52px;
  }

  .u-section-4 .u-image-1 {
    height: 720px;
    margin-top: 452px;
    margin-bottom: -123px;
    width: 720px;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 158px;
    padding-left: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 540px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -26px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 309px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -1013px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 752px;
    margin-bottom: 0;
    height: 340px;
    width: 340px;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 33px;
    padding-left: 32px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 905px;
  margin: 58px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 18px);
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 399px;
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 20px 20px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 15px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 20px 20px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 15px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 40px 20px 20px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-form-1 {
  height: 325px;
  width: 570px;
  margin: 43px auto 52px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1644px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 165px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 91px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 804px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 36px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1649px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 80px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 32px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1050px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 51px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}